* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --header-color: #F03C42;
    --blue: #222374;
    --font-white: #fff;
    --meet-div: #CCCCCC;
}

/* Header */

header {
    color: #fff;
    background-color: var(--header-color);
    max-width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.header-container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container a {
    text-decoration: none;
    color: var(--font-white);
    padding-left: 10px;
}

/* Meet us section */

.meet-us-container {
    background-color: var(--blue);
    height: 418px;
    width: 100%;
}

.meet-us-container h1 {
    color: var(--font-white);
}

.meet-us-container-content {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-top: 20px;
}

.meet-us-content {
    margin-top: 20px;
}

.meet-content {
    background-color: var(--meet-div);
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.meet-content h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.meet-content p {
    font-size: 14px;
}

/* modalities */

.modalities-section {
    width: 100%;
    height: 880px;
    display: flex;
}

.modalities-container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.modalities-container h1 {
    font-size: 32px;
    margin: 20px 0;
}

.modalities-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.modalities-container h1 {
    color: var(--header-color);
}

.modalities-content div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--blue);
    padding: 20px;
    border-radius: 8px;
    color: var(--font-white);
}

.modalities-content h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.modalities-content p {
    font-size: 14px;
}